body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

a:link {
  text-decoration: none;
  color: black;
}

.page_info_hero {
  margin-left: 220px;
  margin-right: 220px;
  margin-top: 0px;
  display: flex;
}

.navbar {
  background-color: #030305;
}

.greenthickline {
  border-width: 10px;
  color: #93c01d;
  margin-top: 0px;
  opacity: 50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.nav_center {
  display: flex;
  margin-left: 220px;
  margin-right: 220px;
}

.navbar-brand {
  margin-right: 20px;
}

.nav-link {
  color: white;
}

.menu_right {
  margin-right: 220px;
  flex-direction: row-reverse;
}

.breadcrumb-navigation {
  margin-left: 190px;
  font-size: x-small;
  margin-top: 70px;
}

.breadcrumb-navigation > li {
  display: inline;
}

.breadcrumb-navigation li + li:before {
  padding: 4px;
  content: ">";
}

.product_detail_top {
  margin-left: 20px;
}

.product_title {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 32px;
  color: #162513;
}

.btn-primary {
  background-color: #00473e;
  border-color: #00473e;
  width: 250px;
  height: 47px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-right: 20px;
}

.btn-secondary {
  background-color: #f1f4f3;
  width: 250px;
  height: 47px;
  color: black;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.btn_un {
  width: 70px;
  height: 32px;
  border-radius: 10px;
  background: #8ec043;
  border-color: #8ec043;
  text-align: center;
  margin-bottom: 25px;
  margin-right: 8px;
  padding: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: white;
}

.btn_kg {
  width: 70px;
  height: 32px;
  border-radius: 10px;
  background: #f1f4f3;
  border-color: #f1f4f3;
  text-align: center;
  margin-bottom: 25px;
  margin-right: 32px;
  padding: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.toggle_qtd {
  display: flex;
  align-items: baseline;
}

.btn_addsub {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  padding: 0px;
  background: #8ec043;
  border-color: #8ec043;
  border: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.btn_minus {
  margin-right: 15px;
  color: white;
}

.btn_plus {
  margin-left: 15px;
  color: white;
}

.rating {
  display: flex;
  align-items: center;
}

.review_stars {
  margin-bottom: 25px;
}

.stars_review_breakdown {
  margin-left: 6px;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 20px;
}

.price_hero {
  display: flex;
  align-items: center;
  color: #b83a30;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.current_price {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 16px;
}

.price_kg {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.lower_price {
  text-decoration: line-through;
  color: grey;
  margin-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.food_hero {
  max-width: 430px;
  max-height: 213px;
  max-width: 100%;
  border-radius: 8px;
}

.product_info_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 40px;
}

.product_info {
  max-width: 402px;
}

.extra_info {
  margin-top: 40px;
  margin-left: 220px;
  margin-right: 220px;
  display: flex;
}

.reset_margin_add_info {
  margin-bottom: 0px;
}

.origem {
  display: flex;
}

.origin_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.emoji_origin {
  max-width: 24px;
  max-height: 24px;
  margin-left: 24px;
}

.conservation {
  display: flex;
}

.conserv_title {
  margin-right: 16px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.conserv_info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.add_info_hr {
  margin-top: 8px;
  margin-bottom: 8px;
}

.add_info_title {
  margin-bottom: 12px;
}

.nutri_info {
  display: flex;
}

.nutri_title {
  margin-right: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.nutri_link {
  text-decoration: underline;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.product_info {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 155px;
  margin-right: 20px;
}

.receitas {
  margin-left: 220px;
  margin-right: 220px;
  margin-top: 50px;
}

.recipe_suggestions {
  display: flex;
}

.receitas_title {
  margin-bottom: 20px;
}

.recipecenter {
  margin-left: 20px;
  margin-right: 20px;
}

.card-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.card_addtext {
  display: flex;
  justify-content: end;
}

.card_addtext_difficulty {
  display: flex;
  align-items: baseline;
}

.card_addtext_time {
  display: flex;
  align-items: baseline;
}

.card_addtext_rating {
  display: flex;
  align-items: baseline;
}

.card_addtext_text {
  margin-left: 8px;
  margin-right: 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
.complementos {
  margin-top: 60px;
  margin-right: 220px;
}

.card_addtext_price {
  margin-right: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
}

.card-img-top-comp {
  width: 160px;
  height: 138px;
}

.btn_kart_card {
  width: 159px;
  height: 33.79px;
  background: #8ec043;
  box-shadow: 0px 3.75px 3.75px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 9.375px 9.375px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.img_kart_card {
  width: 30px;
  height: 30px;
}

.comp_title {
  display: flex;
  margin-left: 220px;
  margin-bottom: 35px;
}

.comp_cards {
  display: flex;
  margin-left: 220px;
}

.comp_card_detail {
  margin-right: 20px;
}

.newsletter {
  margin-top: 70px;
  background-color: #93c01d;
  padding-top: 50px;
}

.nl_content {
  margin-left: 220px;
  margin-right: 220px;
  display: flex;
  align-items: center;
}

.nl_smiley {
  margin-right: 20px;
}

.nl_top_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #f1f4f3;
}

.nl_bottom_text {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #00473e;
  margin-bottom: 24px;
}

.nl_sign_up {
  display: flex;
  background: #f1f4f3;
  border: 1px solid #667080;
  border-radius: 10px;
}

.nl_input_email {
  width: 360px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #667080;
}

.nl_btn_sub {
  width: 160px;
  background: #00473e;
  border-radius: 0px 10px 10px 0px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.nl_cta {
  display: block;
  margin-top: 16px;
  margin-left: 310px;
  margin-right: 220px;
  margin-bottom: 70px;
  width: 430px;
}
